<h1>Outdoors</h1>

<%= link_to 'Ver Lojas', lojas_path %> |
<%= link_to 'Ver Lojas de Concorrencia', loja_concorrencia_path %> |
<%= link_to 'Ver Locais Desportivos', local_desportivos_path %> |
<%= link_to 'Ver Outdoors', outdoors_path %> |
<%= link_to 'Ver Outros', outros_path %>


<%= gmaps4rails(@json) %>

<%= link_to 'Criar Loja', new_loja_path %> | 
<%= link_to 'Criar Loja Concorrencia', new_loja_concorrencium_path %> |
<%= link_to 'Criar Local Desportivo', new_local_desportivo_path %> |
<%= link_to 'Criar Outdoor', new_outdoor_path %> |
<%= link_to 'Criar Outro', new_outro_path %>



<table>
  <tr>
    <th>Nome</th>
    <th>Morada</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Foto</th>
    <th>Detalhes</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outdoors.each do |outdoor| %>
  <tr>
    <td><%= outdoor.nome %></td>
    <td><%= outdoor.morada %></td>
    <td><%= outdoor.latitude %></td>
    <td><%= outdoor.longitude %></td>
    <td><%= outdoor.foto %></td>
    <td><%= outdoor.detalhes %></td>
    <td><%= outdoor.gmaps %></td>
    <td><%= link_to 'Show', outdoor %></td>
    <td><%= link_to 'Edit', edit_outdoor_path(outdoor) %></td>
    <td><%= link_to 'Destroy', outdoor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>