
<%= semantic_form_for @loja do |f| %>
  <%= f.inputs do%>
  <table>
  	
<tr>
	<td>Nome</td>
	 <td><%= f.input :nome, :label => "&nbsp;" %> </td>
</tr>
<tr>
 <td>Morada</td>
  <td><%= f.input :morada, :label => "&nbsp;" %> </td> 

   </tr>
   <tr>
   	 <td>Detalhes</td>
  <td><%= f.input :detalhes, :input_html => { :class => 'autogrow', :rows => 2, :cols => 20 }, :label => "&nbsp;" %> </td>

   </tr>
   <tr>
   	<td>Lat / Lng</td>
  <td><%= f.input :latitude, :label => "&nbsp;" %> <%= f.input :longitude, :label => "&nbsp;" %> </td>

   </tr>
   <tr>
  <td><%= f.input :gmaps, :input_html => { :disabled => true }, :label => "" %> </td>


  </tr>

  </table>
<% end %>
<%= f.actions do %>
   <%= f.action :submit, :as => :button, :label => "Criar Loja"  %>
<% end %>

<h3>Adicionar Contactos (Opcional)</h3>
   
<%= f.fields_for :contactos do |builder| %>
  <%= render 'contacto_fields', f: builder %>
  <%= link_to_add_fields "Adicionar Contacto", f, :contactos %>
<% end %>

<%= render 'jsmap' %>

<% end %>